<!-- <h1>Home Page</h1>  -->

<div><%= link_to 'Add Item', new_item_path, class: "btn btn-large btn-primary" %></div>

<br />

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#">Now</a></li>
  <li><a href="#">Next</a></li>
  <li><a href="#">Collect</a></li>
</ul>



